[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    version.cfg

# No descargar las versiones mas actuales de los paquetes segun el version
newest = false
# Muestra las versiones de los paquetes a  instalar 
show-picked-versions = true

package-name = ploneconf2014.theme
package-extras = [test]

eggs +=
    Paste
    aws.zope2zcmldoc
    plone.app.debugtoolbar
    Products.PDBDebugMode
    iw.debug
    plone.reload

parts +=
    checkversions
    dependencychecker
    i18ndude
    instance
    mkdir-chameleon
    omelette
    flake8
#    plonesite
    test
#    test-dependencies
    zopepy
    createzopecoverage
    coverage
    report

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[dependencychecker]
recipe = zc.recipe.egg
eggs = z3c.dependencychecker

[instance]
verbose-security = on
debug-mode = on
event-log-level = debug
eggs +=
    ${buildout:package-name}
    ${buildout:eggs}
zcml +=
    aws.zope2zcmldoc
    iw.debug
    ${buildout:package-name}
environment-vars = 
    zope_i18n_compile_mo_files true
    CHAMELEON_DEBUG true

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[mkdir-chameleon]
recipe = plone.recipe.command
command =
    mkdir -p ${buildout:directory}/var/chameleon-cache
    rm -Rf ${buildout:directory}/var/chameleon-cache/*
update-command = ${:command}

[flake8]
recipe = zc.recipe.egg
eggs =
    flake8
    ${buildout:eggs}
entry-points = flake8=flake8.run:main

[plonesite]
recipe = collective.recipe.plonesite
site-id = test
site-replace = true
default-language = es
# Create default plone content like News, Events...
profiles-initial = Products.CMFPlone:plone-content
profiles = ploneconf2014.policy:default

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}

[test-dependencies]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
#    pas.plugins.velruse [test]

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[createzopecoverage]
recipe = createzopecoverage

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/src'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']
